div.content-login {
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  border: solid 5px;
  border-radius: 40px 40px 40px 40px;
  padding: 20px;
  background-color: #eee;
}
div.command-bar {
  background-color: #f8f9fa;
  padding: 15px;
  margin-top: 25px;
}
div.none-feedback {
  display: none;
}
.valid-feedback {
  display: block;
}
.invalid-feedback {
  display: block;
}
